<div class="container mt-5">
      <h2>Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            formControlName="username"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted || loginForm.controls['username']?.errors?.['minlength'] }"
            placeholder="Enter username"
            aria-describedby="usernameError"
          />
          <div id="usernameError" class="text-danger" *ngIf="loginForm.get('username')?.errors?.['minlength']">
            Username must be at least 2 characters long.
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            [type]="showPassword ? 'text' : 'password'"
            id="password"
            formControlName="password"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted || loginForm.controls['password']?.errors?.['minlength'] }"
            placeholder="Enter password"
            aria-describedby="passwordError"
          />
          <div class="form-check mt-2">
            <input
              type="checkbox"
              id="togglePassword"
              class="form-check-input custom-checkbox"
              (change)="showPassword = !showPassword"
            />
            <label for="togglePassword" class="form-check-label">
              {{ showPassword ? 'Hide Password' : 'Show Password' }}
            </label>
          </div>
          <div id="passwordError" class="text-danger" *ngIf="loginForm.get('password')?.errors?.['minlength']">
            Password must be at least 5 characters long.
          </div>
        </div>

        <button type="submit" class="btn btn-primary btn-block" [disabled]="loginForm.invalid || loading">
          <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
          Login
        </button>

        <div *ngIf="errorMessage" class="alert alert-danger mt-3">
          {{ errorMessage }}
        </div>

        <div class="text-center mt-3">
          <p>Don't have an account? <a [routerLink]="['/register']">Register here</a></p>
        </div>
      </form>
</div>
