.container {
  max-width: 501px;
  margin: auto;
  padding: 20px;
  background-color: #e0f7fa;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #007bff;
}

.form-group {
  margin-bottom: 15px;
}

button {
  width: 100%;
}

.text-danger{
  margin-top: 1%;
}

.custom-checkbox {
  transform: scale(1.5);
  border: 2px solid #007bff;
  border-radius: 5px;
  padding: 5px;
}

