<div class="container mt-5">
  <h2>Register</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        formControlName="username"
        class="form-control"
        placeholder="Enter username"
        [ngClass]="{ 'is-invalid': submitted || registerForm.controls['username']?.errors?.['minlength'] }"
        aria-describedby="usernameError"
      />
      <div id="usernameError" class="text-danger" *ngIf="submitted || registerForm.get('username')?.errors?.['minlength']">
        Username must be at least 2 characters long.
      </div>
    </div>

    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        formControlName="name"
        class="form-control"
        placeholder="Enter name"
        [ngClass]="{ 'is-invalid': submitted || registerForm.controls['name']?.errors?.['minlength'] }"
        aria-describedby="nameError"
      />
      <div id="nameError" class="text-danger" *ngIf="submitted || registerForm.get('name')?.errors?.['minlength']">
        Name must be at least 2 characters long.
      </div>
    </div>


    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        formControlName="email"
        class="form-control"
        placeholder="Enter email"
        [ngClass]="{ 'is-invalid': submitted || registerForm.controls['email']?.errors?.['email'] }"
        aria-describedby="emailError"
      />
      <div id="emailError" class="text-danger" *ngIf="registerForm.get('email')?.errors?.['email']">
        Enter a valid email
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        [type]="showPassword ? 'text' : 'password'"
        id="password"
        formControlName="password"
        class="form-control"
        placeholder="Enter password"
        [ngClass]="{ 'is-invalid': submitted || registerForm.controls['password']?.errors?.['minlength'] }"
        aria-describedby="passwordError"
      />
      <div class="form-check mt-2">
        <input
          type="checkbox"
          id="togglePassword"
          class="form-check-input custom-checkbox"
          (change)="showPassword = !showPassword"
        />
        <label for="togglePassword" class="form-check-label">
          {{ showPassword ? 'Hide Password' : 'Show Password' }}
        </label>
      </div>
      <div id="passwordError" class="text-danger" *ngIf="submitted || registerForm.get('password')?.errors?.['minlength']">
        Password must be at least 5 characters long.
      </div>
    </div>

    <button type="submit" class="btn btn-primary mt-3" [disabled]="registerForm.invalid || loading">
      Register
      <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </button>

    <div *ngIf="registrationError" class="alert alert-danger mt-3">
      {{ registrationError }}
    </div>

    <div class="text-center mt-3">
      <p>Already have an account? <a [routerLink]="['/login']">Log in here</a></p>
    </div>
  </form>
</div>
