<div class="container">
  <h2>Quiz</h2>
  <div class="timer">Time Left: {{ formatTime(timeLeft) }}</div>

  <div *ngIf="questions.length > 0; else noQuestions">
    <div class="quiz-card">
      <h2>{{ questions[currentQuestionIndex].subject}}</h2>
      <h2>{{ questions[currentQuestionIndex].title}}</h2>
      <h3>{{ questions[currentQuestionIndex].question }}</h3>

      <div *ngFor="let option of questions[currentQuestionIndex].options">
        <label>
          <input
            type="radio"
            name="answer"
            [value]="option"
            (change)="selectAnswer(questions[currentQuestionIndex].id, option)"
            [checked]="selectedAnswers[questions[currentQuestionIndex].id] === option"
          />
          {{ option }}
        </label>
      </div>

      <div class="button-group">
        <button (click)="goToPreviousQuestion()" [disabled]="currentQuestionIndex === 0">Previous</button>
        <button (click)="resetCurrentQuestion()" [disabled]="!selectedAnswers[questions[currentQuestionIndex].id]">
          Reset
        </button>
        <button (click)="goToNextQuestion()" [disabled]="currentQuestionIndex === questions.length - 1">Next</button>
      </div>
      <div class="button-group">
        <button (click)="cancelQuiz()">Cancel</button>
        <button (click)="submitQuiz()">Submit</button>
      </div>
    </div>
  </div>

  <ng-template #noQuestions>
    <div class="no-questions">
      <p>No questions available for this quiz.</p>
      <button (click)="cancelQuiz()">Go Back</button>
    </div>
  </ng-template>
</div>
